body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(44, 41, 44);
    background-color: rgb(247, 239, 247);
}

header {
    background-color: #7723ef;
    color: #fcf7ff;
    text-align: center;
    padding: 2rem 5%;
}

header h1 {
    margin: 0;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: #7723ef;
    border: 1px solid #7723ef;
    color: #fcf7ff;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5017a7;
    border-color:#5017a7;
    color: #f6edf8;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: #7723ef;
}

.btn-alt:hover {
    background-color: #d4bbf6;
    border-color: #d4bbf6;
    color: #7723ef;
}


